* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #F9F8FF;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
}

.main {
    padding-top: 30px;
    margin-bottom: 100px;
    background-image: url('../img/main-bg.png');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;

    .content {
        padding: 123px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        max-width: 1253px;
    }
}

.nav {
    padding: 0 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    &__item {
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        padding: 0 16px;
        transition: 0.4s all;
    }

    &__item:hover {
        opacity: 0.8;
        transition: 0.4s all;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 259px;
}



.hamburger {
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    opacity: 0;
    padding-right: 20px;

}

.hamburger_short {
    display: block;
    width: 40px;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
}

.hamburger_long {
    display: block;
    width: 40px;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;

}

.hamburger:hover .hamburger_short {
    width: 30px;
    transition: .4s all;
}

.mobile {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: auto;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition: 0.4s all;

    .menu {
        flex-direction: column;
        align-items: start;
    }

    .menu__item {
        color: #000;
        font-size: 18px;
        margin-bottom: 20px;
        transition: 0.4s all;
    }

    .menu__item:hover {
        opacity: .6;
        transition: 0.4s all;
    }
}


.active {
    visibility: visible;
    opacity: 1;
    left: 0;
}

.mobile__block {
    position: relative;
    width: 70%;
    height: 100vh;
    background: #fff;
    padding: 140px 0 0 40px;
    transition: 0.6s all;
    z-index: 300;
}

.mobile__close {
    position: absolute;
    padding: 15px;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: #1e96e6;
}

.mobile__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn {
    background-color: #fff;
    color: #57B3FE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 60px;
    outline: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: .5s all;
}

.btn:hover {
    color: #fff;
    background-color: transparent;
    transition: .5s all;
    box-sizing: content-box;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.h1 {
    font-weight: 500;
    font-size: 68px;
    line-height: 1.2;
    color: #F9F8FF;
}

.description {
    font-size: 20px;
    line-height: 34px;
    color: #F9F8FF;
    opacity: 0.8;
    margin: 8px 0 41px 0;
}

.section-name {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 24px;
    color: #FFFFFF;
}

.section-name_green {
    color: #00A077;
}

.features {
    padding-bottom: 160px;
    background-image: url('../img/bg2.png');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;

    &__icon {
        width: 50px;
        height: auto;
        margin-bottom: 20px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 32px;
    }
}

.features-block {
    width: 26.5%;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
    border-radius: 15px;
    padding: 50px 20px 50px 40px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.features-h2 {
    width: 500px;
}

.h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.2;
    color: #3B3E43;
}

.h2_white {
    color: #fff;
}

.h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.3;
    color: #3B3E43;
    margin-bottom: 15px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595E64;
}

.process {
    background-image: url('../img/bg3.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 194px 0 164px 0;

    &-block {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
        border-radius: 15px;
        min-height: 323px;
        position: relative;
        margin-bottom: 40px;

        &:after {
            content: '';
            width: 4px;
            height: 40px;
            background-image: linear-gradient(#fff 55%, rgba(255, 255, 255, 0) 0);
            background-position: right;
            background-size: 2px 5px;
            background-repeat: repeat-y;
            position: absolute;
            bottom: -40px;
            right: 50%;
            transform: translateX(-50%)
        }

        &:last-child {
            &:after {
                height: 0;
            }
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.process-description {
    width: 718px;
    text-align: center;
}

.process-image {
    img {
        width: 480px;
    }
}

.process-item {
    padding: 25px 60px;
}

.brands {
    padding: 184px 0;

    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
        align-items: center;
    }
}

.brands-image {
    max-width: 143px;
    margin: 30px;
}

.brands-text {
    text-align: center;
}

.h2-center {
    text-align: center;
    width: 897px;
}

.start {
    background-image: url('../img/bg4.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 114px 0 143px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__image {
        max-width: 697px;
        position: relative;
        right: -100px;
        margin-left: 100px;
    }
}

.footer {
    background-color: #0D0D0D;
    padding: 84px 0 35px 0;

    &__nav {
        padding: 0;
        margin: 0;
        opacity: 0.8;
        display: flex;
        justify-content: space-between;

        .logo img {
            max-width: 176px;
        }

        a:hover {
            opacity: 0.6;
            transition: 0.4s all;
        }
    }
}

.social__link {
    margin-left: 20px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #fff;
    opacity: 0.35;
    margin: 28px 0;
}

.doc-wrap {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    opacity: 0.8;
}

.doc {
    display: flex;
    justify-content: flex-end;

    a {
        padding-left: 24px;
        color: #fff;
        opacity: 0.8;
        transition: 0.4s all;

    }

    a:hover {
        opacity: 0.6;
        transition: 0.4s all;
    }
}
@media (max-width: 1360px){
    .start__image {
        right: -50px;
      }
}


@media (max-width: 1300px) {
    .nav {
        padding: 0 20px;
    }

    .footer__nav {
        padding: 0;
    }

    .start {
        &__image {
            right: 0;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 940px;
    }

    .nav {
        padding: 0 20px;
        flex-direction: column;

        .btn {
            display: none;
        }
    }

    .menu {
        margin: 20px 0 20px;
    }

    .footer__nav {
        padding: 0;
    }

    .content {
        padding-top: 80px;

        img {
            max-width: 960px;

        }
    }

    .h1 {
        font-size: 55px;
        text-align: center;
    }

    .h2-center {
        width: 700px;
    }

    .main {
        padding-top: 20px;
        margin-bottom: 100px;
        background-size: cover;
        background-position: center center;

        &__img {
            width: 940px;
        }
    }

    .features {
        padding-bottom: 60px;

        .features-block {
            width: 40%;
        }
    }

    .process {
        padding: 80px 0;
    }

    .process-image {
        width: 100%;

        img {
            max-width: 100%;
        }
    }

    .process-item {
        padding: 20px;
    }

    .brands {
        padding: 80px 0;
    }

    .brands-image {
        max-width: 140px;
        margin: 10px;
    }

    .start {
        padding: 80px 0;

        &__image {
            max-width: 697px;
            position: relative;
            right: 0;
            margin-left: 50px;

            img {
                max-width: 500px;
            }
        }
    }

    .footer {
        padding: 50px 0 35px 0;
    }
}

@media (max-width: 960px) {
    .container {
        width: 740px;
    }

    .nav {
        padding: 0 20px;
        flex-direction: column;

        .btn {
            display: none;
        }
    }

    .menu {
        margin: 20px 0 20px;
    }

    .footer__nav {
        padding: 0;
    }

    .content {
        padding-top: 80px;

        img {
            max-width: 760px;

        }
    }

    .h1 {
        font-size: 55px;
        text-align: center;
    }

    .main {
        padding-top: 20px;
        margin-bottom: 100px;
        background-size: cover;
        background-position: center center;
    }

    .features {
        padding-bottom: 60px;

        .features-block {
            width: 40%;
        }
    }

    .process {
        padding: 80px 0;
    }

    .brands {
        padding: 80px 0;
    }

    .brands-image {
        max-width: 120px;
        margin: 10px;
    }

    .start {
        padding: 80px 0;

        &__image {
            max-width: 400px;
            position: relative;
            right: 0;
            margin-left: 30px;

            img {
                max-width: 400px;
            }
        }
    }

    .footer {
        padding: 50px 0 35px 0;
    }

}

@media(max-width: 768px) {
    .container {
        width: 460px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            display: none;
        }
    }

    .hamburger {
        opacity: 1;
    }

    .menu {
        margin: 20px 0 20px;
    }

    .logo img {
        width: 180px;
    }

    .footer__nav {
        padding: 0;
        align-items: center;
    }

    .footer__menu {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .menu__item {
        display: block;
        padding-bottom: 10px;
    }

    .social__link {
        margin: 15px;
    }

    .content {
        padding-top: 80px;

        img {
            max-width: 470px;

        }
    }

    .h1 {
        font-size: 45px;
        text-align: center;
    }

    .h2 {
        font-size: 35px;
    }

    .h2-center {
        width: 450px;
    }

    .main {
        padding-top: 20px;
        margin-bottom: 100px;
        background-size: cover;
        background-position: center center;
    }

    .features {
        padding-bottom: 60px;

        .features-block {
            width: 90%;
        }
    }
    .features-h2 {
        width: auto;
      }

    .process {
        padding: 80px 0;
    }

    .process-image {
        display: none;
    }

    .process-description {
        width: 450px;
    }

    .brands {
        padding: 80px 0;
    }

    .brands__item {
        margin-top: 40px;
        justify-content: space-around;

    }

    .brands-image {
        max-width: 120px;
        margin: 10px;
    }

    .start {
        padding: 0;
        padding-bottom: 30px;

        &__inner {
            flex-direction: column;
        }

        &__image {
            max-width: 460px;
            position: relative;
            right: 0;
            margin-left: 0;

            img {
                max-width: 460px;
            }
        }
    }

    .footer {
        padding: 50px 0 35px 0;
    }

}

@media (max-width: 480px) {
    .container {
        width: 340px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            display: none;
        }
    }

    .hamburger {
        opacity: 1;
    }

    .menu {
        margin: 20px 0 20px;
    }

    .logo img {
        width: 180px;
    }

    .btn {
        padding: 25px 60px;
        font-size: 16px;
    }

    .footer__nav {
        padding: 0;
        align-items: center;
    }

    .footer__menu {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .menu__item {
        display: block;
        padding-bottom: 10px;
    }

    .social__link {
        margin: 15px;
    }

    .content {
        padding-top: 80px;

        img {
            max-width: 340px;

        }
    }

    .h1 {
        font-size: 40px;
        text-align: center;
    }

    .content .description {
        text-align: center;
        font-size: 18px;
    }

    .h2 {
        font-size: 35px;
    }

    .h2-center {
        width: auto;
    }

    .main {
        padding-top: 20px;
        margin-bottom: 100px;
        background-size: cover;
        background-position: center center;
    }

    .features {
        padding-bottom: 60px;

        .features-block {
            width: 90%;
        }
    }

    .features-h2 {
        width: auto;
      }

    .process {
        padding: 80px 0;
    }

    .process-image {
        display: none;
    }

    .process-description {
        width: auto;
    }

    .brands {
        padding: 80px 0;
    }

    .brands__item {
        margin-top: 40px;
        justify-content: space-around;
    }

    .brands-image {
        max-width: 100%;
        margin: 10px;
    }

    .start {
        padding: 0;
        padding-bottom: 30px;

        &__inner {
            flex-direction: column;
            align-items: start;
        }

        &__image {
            max-width: 340px;
            position: relative;
            right: 0;
            margin-left: 0;
            margin-top: 30px;

            img {
                max-width: 340px;
            }
        }

        .description {
            text-align: left;
            font-size: 18px;
        }
    }

    .footer {
        padding: 50px 0 35px 0;
    }

    .doc-wrap {
        flex-direction: column;
        align-items: center;
    }

    .doc {
        padding: 20px 0;
    }

}

@media (max-width: 360px) {
    .container {
        width: 310px;
        padding: 0 5px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            display: none;
        }
    }

    .hamburger {
        opacity: 1;
    }

    .menu {
        margin: 20px 0 20px;
    }

    .logo img {
        width: 150px;
    }

    .btn {
        padding: 25px 60px;
        font-size: 16px;
    }

    .footer__nav {
        padding: 0;
        align-items: center;
    }

    .footer__menu {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .menu__item {
        display: block;
        padding-bottom: 10px;
    }

    .social__link {
        margin: 15px;
    }

    .content {
        padding-top: 80px;

        img {
            max-width: 310px;

        }
    }

    .h1 {
        font-size: 35px;
        text-align: center;
    }

    .content .description {
        text-align: center;
        font-size: 18px;
        line-height: 24px;
    }

    .h2 {
        font-size: 25px;
    }

    .h2-center {
        width: auto;
    }

    .main {
        padding-top: 10px;
        margin-bottom: 100px;
        background-size: cover;
        background-position: center center;
    }

    .features {
        padding-bottom: 50px;

        .features-block {
            width: 80%;
            padding: 40px 20px;
        }
    }
    .features__inner {
        justify-content: center;
      }
    .features-h2 {
        width: auto;
    }

    .process {
        padding: 50px 0;
    }

    .process-block {
        width: 90%;
    }

    .process-image {
        display: none;
    }

    .process-description {
        width: auto;
    }

    .brands {
        padding: 80px 0;
    }

    .brands__item {
        margin-top: 40px;
        flex-direction: column;
    }

    .brands-image {
        max-width: 100%;
        margin: 10px;
    }

    .start {
        padding: 0;
        padding-bottom: 30px;

        &__inner {
            flex-direction: column;
            align-items: start;
        }

        &__image {
            max-width: 310px;
            position: relative;
            right: 0;
            margin-left: 0;
            margin-top: 30px;

            img {
                display: none;
            }
        }

        .description {
            text-align: left;
            font-size: 18px;
        }
    }

    .footer {
        padding: 50px 0 35px 0;
    }

    .doc-wrap {
        flex-direction: column;
        align-items: center;
    }

    .doc {
        padding: 20px 0;
    }

}